<IfModule mod_rewrite.c>

   RewriteEngine On
    
   RewriteRule ^(assets)($|/) - [L]
   RewriteCond %{REQUEST_FILENAME}  -f [OR]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_URI} !/apiHandler
   RewriteRule ^(.*)$ index.php [L,QSA]

</IfModule>